<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Macmet Technologies - Success</title>
  <link rel="stylesheet" href="styles.css">
  <link rel="stylesheet" href="bootstrap.css">
  <style>
    body {
      font-family: 'Arial', sans-serif;
      background-color: #00204a;
      margin: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100vh;
    }

    .container {
      text-align: center;
      animation: slideIn 1s ease-in-out;
      position: relative;
    }

    .svg-container {
      max-width: 300px;
      margin: 0 auto 20px;
    }

    .svg-image {
      width: 100%;
      height: auto;
    }

    h1 {
      color: #ffffff;
    }

    p {
      color: #ffffff;
    }

    a {
      text-decoration: none;
      color: #007bff;
      font-weight: bold;
    }

    a:hover {
      text-decoration: underline;
    }


@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.container {
  text-align: center;
  animation: fadeIn 1.8s ease-in-out;
  position: relative;
  animation: zoomIn 1s ease-in-out;
}
@keyframes zoomIn {
  0% {
    opacity: 0;
    transform: scale(0.5);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}




    
  </style>
</head>

<body>
  <div class="js-container container" style="top:0px !important;"></div>
  


 

 
   <div class="container">
    <div class="svg-container">
      
      <img src="svg/success.svg" alt="404 Error" class="svg-image">
    </div>
    <h1>____________ was Certified Intern at Macmet Technologies</h1>
    <p>as Software Developer</p>
    <a href="/intern">Go back to Home</a>

   
  </div> 

  
</body>

</html>
